@font-face {
	font-family: 'Roboto Slab Bold';
	src: url('../fonts/roboto_slab_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/roboto_slab_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/roboto_slab_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/roboto_slab_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/roboto_slab_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/roboto_slab_bold.svg#roboto_slab_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}