*,
*::before,
*::after {
    box-sizing: border-box;
}

.dn {
    display: none;
}

body {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

.button {
    padding: 11px 41px;
    text-transform: uppercase;
    font-family: "Poppins Medium", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid $title-color;
    border-radius: 3px;
    background-color: transparent;
    color: $title-color;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: $main-color;
}

.button--contrast {
    padding: 20px 60px;
    background-color: $title-color;
    color: $main-color;
    box-shadow: 6px 33px 59px 0 rgba(0, 0, 0, 0.3);
}
.button--contrast:hover {
    color: $title-color;
}

.button--light:hover {
    background-color: $title-color;
    color: $main-color;
}
.button--light:hover.button__icon {
    color: $main-color;
}
.button--more {
    padding: 16px 55px;
    font-size: 22px;
    text-transform: none;
}
.button__icon {
    margin-left: 18px;
    width: 22px;
    height: 18px;
}

.burger-btn {
    position: relative;
    display: none;
    width: 40px;
    height: 30px;
    z-index: 200;
}
.burger-btn:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $title-color;
    top: 0;
    left: 0;
    transition: transform 1s ease;
}
.burger-btn:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $title-color;
    bottom: 0;
    left: 0;
    transition: transform 1s ease;
}
.burger-btn__line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background-color: $title-color;
}

.container {
    max-width: calc(1380px + 15px + 15px);
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 114px 0;
}

.title {
    margin-top: 0;
    margin-bottom: 37px;
    font-family: "RobotoSlab-Medium", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 64px;
    font-weight: 500;
    color: $title-color;
    text-align: center;
}
.description {
    font-family: "Poppins Medium", Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: $title-color;
}

.product-item {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    padding-bottom: 50px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.product-item:hover {
    opacity: 0.7;
}

.product-item__img-wrapper {
    width: 100%;
    margin-bottom: 50px;
    flex: 1;
}
.product-item__img {
    width: 100%;
    object-fit: cover;
}
.product-item__info {
}
.product-item__info-title {
    margin: 0 0 12px;
    font-family: "Poppins SemiBold", serif;
    color: $desc-color;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.product-item__info-price-rating {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-family: "Poppins Medium", Verdana, Geneva, Tahoma, sans-serif;
    color: $desc-color;
    font-size: 22px;
    font-weight: 500;
}
.product-item__info-price-rating::before {
    content: "";
    display: block;
    width: 1px;
    height: 27px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #454545;
}

.product-item__info-price {
}
.product-item__info-rating {
    display: flex;
    gap: 9px;
}
.product-item__info-rating-icon {
    width: 24px;
    height: 24px;
}

@media (max-width: 1096px) {
    .section {
        padding: 100px 0;
    }
}

@media (max-width: 982px) {
    .title {
        margin-bottom: 32px;
        font-size: 58px;
    }
    .description {
        margin-bottom: 68px;
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .button {
        font-size: 18px;
    }
    .section {
        padding: 80px 0;
    }
    .title {
        margin-bottom: 30px;
        font-size: 56px;
    }
    .description {
        margin-bottom: 60px;
    }
}

@media (max-width: 740px) {
    .section {
        padding: 52px 0;
    }
    .title {
        margin-bottom: 24px;
        font-size: 48px;
    }
    .description {
        margin-bottom: 40px;
    }
    .button {
        padding: 8px 34px;
        font-size: 16px;
    }
    .burger-btn {
        display: block;
        transition: transform 1s ease;
    }

    .burger-btn--active {
        display: block;
        z-index: 200;
    }

    .burger-btn--active .burger-btn__line {
        display: none;
    }

    .burger-btn--active.burger-btn:before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    .burger-btn--active.burger-btn:after {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
}

@media (max-width: 490px) {
    .section {
        padding: 48px 0;
    }
    .title {
        margin-bottom: 22px;
        font-size: 40px;
    }
    .description {
        margin-bottom: 36px;
        font-size: 18px;
    }

    .product-item {
        max-width: 100%;
        width: 100%;
        padding-bottom: 26px;
    }
    .product-item__img-wrapper {
        margin-bottom: 30px;
    }
    .product-item__info-title {
        font-size: 18px;
    }
    .product-item__info-price-rating {
        font-size: 20px;
    }
}

@media (max-width: 340px) {
    .burger-btn {
        position: absolute;
        top: 29px;
        right: 15px;
    }
}
